<div th:fragment="navBarAlumno">
  <nav class="navbar fixed-top navbar-dark navColor navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/alumno/listaCursos" th:ref="@{/alumno/listaCursos}">
        <img src="../static/img/profeLogo.png" th:src="@{/img/profelogo.png}" alt="" height="30"
             class="d-inline-block align-text-top">
        ProfePosting
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </li>
          <li>
            <form class="container-fluid" th:action="@{/logout}" method="post">
              <button class="btn btn-outline-warning me-2" type="submit">Cerrar Sesión</button>
            </form>
          </li>
        </ul>

      </div>
    </div>

  </nav>
  <br>
  <br>
</div>