<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/fragments :: HeaderMeta"></head>
<body>
<!--<div th:replace="fragments/topNavProfe :: navBarProfe"></div>-->
<div th:replace="fragments/fragments :: navBar"></div>

<div class="container pb-3 pt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="@{${curso.getAreaAprendizaje().getImgurl()}}" src=""
                             class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title" th:text="${curso.getTitulo()}"></h1>
                            <h5 class="card-subtitle" th:text="${curso.getAreaAprendizaje().getNombre()}"></h5>
                            <p class="card-text" th:text="${curso.getDetalles()}"></p>
                            <p class="card-text">
                                <small class="text-muted"
                                       th:text="${'Creado por: '+curso.getUsuarioProfesor().getNombre()+ ' '+curso.getUsuarioProfesor().getApellidoPaterno()}">

                                </small>
                            </p>
                            <p class="card-text">
                            <h5 th:inline="text">
                                [[${#numbers.formatDecimal(curso.getPuntuacion(),1,1,'POINT')}]] <i
                                    class="fas fa-star"></i>
                            </h5>
                            </p>
                            <p class="card-text">
                                <a th:href="@{/cursos}">
                                    <button type="button" class="btn btn-primary"><i
                                            class="far fa-arrow-alt-circle-left"></i> Volver a Cursos
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div th:if="${param.agregado}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-sync"></i></strong> Comentario Agregado.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" sec:authorize="hasRole('ROLE_ALUMNO')">
            <h5 class="mb-3">Deja un comentario</h5>
            <form th:action="@{/cursos/comentar}" class="pb-3" method="post" th:object="${nuevoComentario}">
                <!--Control contra ataque CSRF-->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <!--Fin Control contra ataque CSRF-->
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{idCurso}"/>
                <input type="hidden" th:field="*{idUsuarioAlumno}" id="idAlumno"/>
                <input type="hidden" th:field="*{hora}"/>
                <input type="hidden" th:field="*{esValido}"/>
                <div class="form-floating mb-3">
                    <textarea th:field="*{comentario}" class="form-control" placeholder="Leave a comment here"
                              id="comentario" style="height: 150px"></textarea>
                    <label for="comentario">¿Qué opinas del curso?</label>
                </div>

                <div class="form-check mb-3">
                    <input th:field="*{puntuacion}" th:value="${1}" type="radio" class="btn-check" name="options" id="1estrellas" autocomplete="off">
                    <label class="btn btn-outline-warning" for="1estrellas">1 <i class="fas fa-star"></i></label>
                    <input th:field="*{puntuacion}" th:value="${2}" type="radio" class="btn-check" name="options" id="2estrellas" autocomplete="off">
                    <label class="btn btn-outline-warning" for="2estrellas">2 <i class="fas fa-star"></i></label>
                    <input th:field="*{puntuacion}" th:value="${3}" type="radio" class="btn-check" name="options" id="3estrellas" autocomplete="off">
                    <label class="btn btn-outline-warning" for="3estrellas">3 <i class="fas fa-star"></i></label>
                    <input th:field="*{puntuacion}" th:value="${4}" type="radio" class="btn-check" name="options" id="4estrellas" autocomplete="off">
                    <label class="btn btn-outline-warning" for="4estrellas">4 <i class="fas fa-star"></i></label>
                    <input th:field="*{puntuacion}" th:value="${5}" type="radio" class="btn-check" name="options" id="5estrellas" autocomplete="off">
                    <label class="btn btn-outline-warning" for="5estrellas">5 <i class="fas fa-star"></i></label>
                </div>
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert" th:if="${curso.getComentarios().size()==0}">
                <i class="fal fa-frown"></i> No hay comentarios
            </div>
            <div class="col-md-12 pb-2" th:each="comentario : ${curso.getComentarios()}">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-clock"></i> <b>Comentado el: </b>
                        <text th:text="${#dates.format(comentario.getHora(),'dd-MMM-yy')}"></text>
                        a las
                        <text th:text="${#dates.format(comentario.getHora(),'hh:mm')}"></text>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <div class="row">
                                <div class="col-md-6"><h5
                                        th:text="${comentario.getUsuarioAlumno().getNombre()} + ' ' + ${comentario.getUsuarioAlumno().getApellidoPaterno()}"></h5>
                                </div>
                                <div class="col-md-6 text-end"><p th:inline="text">
                                    [[${#numbers.formatDecimal(comentario.getPuntuacion(),1,1,'POINT')}]]
                                    <i class="fas fa-star"></i>
                                </p></div>
                            </div>
                            <footer class="blockquote-footer"><b>Dice:</b> <cite title="Source Title"
                                                                                 th:text="${comentario.getComentario()}"></cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer th:insert="fragments/fragments :: footer"></footer>
</body>