<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/fragments :: HeaderMeta"></head>
<body>
<!--<div th:replace="fragments/topNavProfe :: navBarProfe"></div>-->
<div th:replace="fragments/fragments :: navBar"></div>

<div class="container pb-3">
    <br>
    <div class="row">
        <div class="col-md-6">
            <h1>Cursos</h1>
        </div>
<!--        <div class="col-md-6" sec:authorize="hasAnyRole('ROLE_PROFESOR','ROLE_ADMIN')">-->
<!--            <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--                <button class="btn btn-primary" type="button"><i class="fas fa-table"></i> Ver en formato de tabla-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
    </div>


    <!-- success message -->
    <div th:if="${param.agregado}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-sync"></i></strong> El curso se ha creado correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${param.eliminado}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><i class="far fa-calendar-times"></i></strong> El curso ha sido eliminado.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${param.modificado}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-sync"></i></strong> El curso ha sido actualizado correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <br>
    <div th:switch="${cursos}">
        <h1 th:case="null">No hay Cursos</h1>
        <div th:case="*">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" th:each="curso : ${cursos}">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center" th:text="${curso.getTitulo()}"></h3> <br>
                            <img th:src="@{${curso.getAreaAprendizaje().getImgurl()}}" src="" class="card-img-top"
                                 alt="profe"/>
                            <p class="card-text" th:text="${curso.getDetalles()}"></p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="${curso.getAreaAprendizaje().getNombre()}"></li>
                                <li class="list-group-item"
                                    th:text="${curso.getUsuarioProfesor().getNombre() +' '+curso.getUsuarioProfesor().getApellidoPaterno()}"></li>
                                <li class="list-group-item">
                                    <h5 th:inline="text" >
                                        [[${#numbers.formatDecimal(curso.getPuntuacion(),1,1,'POINT')}]]
                                        <i class="fas fa-star"></i>
                                    </h5>
                                </li>
                            </ul>
                            <a th:href="@{/cursos/comentariosCurso(idCurso=${curso.getId()})}" class="btn btn-info">Ver Comentarios</a>
                            <a th:href="@{/cursos/modificarCurso(idCurso=${curso.getId()})}" class="btn btn-warning" sec:authorize="hasAnyRole('ROLE_PROFESOR','ROLE_ADMIN')" >Modificar</a>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer th:insert="fragments/fragments :: footer"></footer>
</body>
</html>