<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/ProfepostingLoginStyle.css" th:href="@{/css/ProfepostingLoginStyle.css}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
    </style>
</head>
<body>
<div class="center">
    <h1>ProfePosting</h1>
    <form th:action="@{/autenticar}" method="post">
        <div class="form-floating mb-3">
            <input name="username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Correo Electrónico</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Contraseña</label>
        </div>
        <br>
        <!-- error message -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">Correo o contraseña inválidos.</div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <button type="button" class="btn btn-secondary">Registrarse</button>
    </form>
    <br>
    <!-- logout message -->
    <div th:if="${param.logout}">
        <div class="alert alert-info">Has cerrado sesión.</div>
    </div>
</div>
</body>
</html>