<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/fragments :: HeaderMeta"></head>
<body>
<!--<div th:replace="fragments/topNavProfe :: navBarProfe"></div>-->
<div th:replace="fragments/fragments :: navBar"></div>
<div class="container pt-3">
    <div th:if="${param.logout}">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-sign-out-alt"></i></strong> Has cerrado sesión
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${registroOK}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><i class="fas fa-thumbs-up"></i></strong> <span th:text="${registroOK}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">Bienvenido a ProfePosting!</h5>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/login}"><i class="fas fa-user-check"></i> Inicia Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/usuario/registro}"><i class="fas fa-user-plus"></i> ¿No tienes una cuenta?</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form th:action="@{/signIn}" method="post">
                        <!--Control contra ataque CSRF-->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <!--Fin Control contra ataque CSRF-->
                        <div class="mb-3">
                            <label for="correo" class="form-label"><i class="fas fa-at"></i> Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" name="correo">
                            <div id="emailHelp" class="form-text">Tu email está seguro con nosotros.</div>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label"><i class="fas fa-key"></i> Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="checkRecuerdame" name="checkRecuerdame">
                            <label class="form-check-label" for="checkRecuerdame">Recuerdame</label>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong><i class="far fa-times-circle"></i></strong> Credenciales incorrectas
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>